$primary: #f4f3ee; /* Nav&footer background - Card-background */
$body-bg: #e5e5e5;
$navbar-light-color: #262626;
$navbar-light-active-color: #c32c72;
$navbar-light-brand-color: $navbar-light-color;
$pink: #c32c72;
$grey: #8d8d8d;

$font-family-sans-serif: "Open Sans", sans-serif;
